RVL_ALIAS "cic_out_clk_I" "cic_out_clk_I"; 
RVL_ALIAS "cic_out_clk_I" "cic_out_clk_I"; 
RVL_ALIAS "sys_clk_90" "sys_clk_90"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF PORT "adc_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_data[9]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "adc_clk" SITE "63" ;
LOCATE COMP "adc_data[0]" SITE "68" ;
LOCATE COMP "adc_data[1]" SITE "67" ;
LOCATE COMP "adc_data[2]" SITE "66" ;
LOCATE COMP "adc_data[3]" SITE "65" ;
LOCATE COMP "adc_data[4]" SITE "64" ;
LOCATE COMP "adc_data[5]" SITE "62" ;
LOCATE COMP "adc_data[6]" SITE "61" ;
LOCATE COMP "adc_data[7]" SITE "60" ;
LOCATE COMP "adc_data[8]" SITE "59" ;
LOCATE COMP "adc_data[9]" SITE "58" ;
IOBUF PORT "audio_out" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 PULLMODE=NONE ;
LOCATE COMP "audio_out" SITE "18" ;
LOCATE COMP "lo" SITE "77" ;
IOBUF PORT "lo" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
